#### Numbers in Python
In this lecture we will learn about numbers in Python and how to use them. 

We will cover the following topics:
1. Types of number in Python
2. Basic arithmetic
3. Object assignment in Python

##### Types of Numbers
The two main types of numbers in Python are *integers* and *floating point*.

Integers are whole numbers, positive or negative.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. Floating point numbers can be positive or negative. 4E2 (4 times 10 to the power of 2) is an example of a floating point number in Python.

##### Basic Arithmetic

In [1]:
#addition
2+1

3

In [2]:
#subtraction
2-1

1

In [3]:
#multiplication
2*2

4

In [4]:
#division
3/2

1.5

*In Python 2.x the division of 3/2 would yield 1. To get the correct value on of the values must be a floating point. Python 3.x fixed this.*

In [5]:
#powers
2**3

8

In [6]:
# can also do roots this way
4**0.5

2.0

Python uses standard order of operations.

##### Variable Assignments
Now that we have seen how to use numbers in Python as a calculator let's see how to assign names and create values.

We use a single equal sign to assign labels to variables. 

*The examples use single letter variables. Get in the habit of using meaningful variable names. More on this later.*

In [7]:
# Create and object called 'a' and assign it the number 5
a = 5

In [8]:
# Adding the objects
a + a

10

The names you use when creating these labels need to follow a few rules:
1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
3. It's considered best practice (PEP8) that the names are lowercase.